{% extends 'base.html' %}

{% block pageheading %}
admin
{% endblock %}

{% block main %}

<h3>Category Admin</h3>

<h4>Add a Category</h4>
<form class="myform" method="POST", action="/add_category">
  <div class="form-group">
    <div class="form-label"><label for="name">Category Name</label></div>
    <div class="form-element"><input type="text" name="name" id="name" required></div>
  </div>
  
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Add Category"></div>
  </div>

</form>

<h4>Remove a Category</h4>
<form class="myform" method="POST", action="/delete_category">
  <div class="form-group">
    <div class="form-label"><label for="name">Category Name</label></div>
    <div class="form-element">
      <select id="name" name="name">
        {% for category in categories %}
        <option value="{{category[0]}}, {{category[1]}}" >{{category[1]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Remove Category"></div>
  </div>


</form>


{% endblock %}
