<!doctype html>
<html lang="en">
<head>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Description" content="Author: D Benseman, Content: A dictionary to convert maori words to english.">
</head>

<body>
	<div id="container">

		<header>
			<h1>{% block heading %}{% endblock %}</h1>
		</header>

		<nav>
            <input type="checkbox" name="drop_down_menu" />
			<span></span>
			<span></span>
			<span></span>
			<ul>
                <li><a href="/">Home</a></li>
                {% if logged_in == True %}
                <!-- Show logout option if the user is logged in -->
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <!-- Show signup and login options if the user is not logged in -->
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}

                {% if teacher == True %}
                <!-- Show admin option if the user is a teacher -->
                <li><a href="/admin">Admin</a></li>
                {% endif %}

                <li>_______________<br></li>
                {% for category in categories %}
                <!-- Loop through categories to display them in the navigation -->
                  <li><a href="/dictionary/?cat_id={{category[0]}}">{{category[1]}}</a></li>
                {% endfor %}


			</ul>
		</nav>


		<!--
		=====================================================
		== Content row of the template.                 ==
		=====================================================
		-->

		<main>
            <!-- Section to display flashed error messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            {% block main%}{% endblock %}
        </main>


		<footer>
			<p>
				&copy; Ture Hansson
			</p>
		</footer>

	</div>
</body>
</html>
