{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Dictionary{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<table>
  <thead>
  
    <tr>
      <td>Maori</td>
      <td>English</td>
      <td>Definition</td>
      <td>Level</td>
    </tr>
  </thead>
  {% for word in words %}
  
  <tr>
    <td><a href="/word/{{word[0]}}">{{word[1]}}</a></td>
    <td>{{word[2]}}</td>
    <td>{{word[3]}}</td>
    <td>{{word[4]}}</td>
  </tr>


  {% endfor %}

</table>



{% endblock %}
