{% extends 'base.html' %}

{% block title %}
<!-- Page title -->
Maōri Dictionary | Dictionary
{% endblock %}

{% block heading %}
<!-- Page heading -->
Maōri - English Dictionary
{% endblock %}

{% block main %}
<!-- Table displaying the list of words -->
<table>
  <thead>
    <tr>
      <td>Maori</td>
      <td>English</td>
      <td>Definition</td>
      <td>Level</td>
    </tr>
  </thead>
  <tbody>
    {% for word in words %}
    <!-- Loop through words to display each word in the table -->
    <tr>
      <!-- Link to the word details page -->
      <td><a href="/word/?word_id={{word[0]}}">{{word[1]}}</a></td>
      <td>{{word[2]}}</td>
      <td>{{word[3]}}</td>
      <td>{{word[4]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Form for adding a new word -->
<h4>Add a word</h4>
<form class="myform" method="POST" action="/add_word_to_database/?id={{ cat_id }}">
  <div class="form-group">
    <div class="form-label"><label for="name">Maori</label></div>
    <div class="form-element"><input type="text" name="maori" id="maori" required></div>
  </div>

  <div class="form-group">
    <div class="form-label"><label for="name">English Translation</label></div>
    <div class="form-element"><input type="text" name="english" id="english" required></div>
  </div>

  <div class="form-group">
    <div class="form-label"><label for="name">Definition</label></div>
    <div class="form-element"><input type="text" name="definition" id="definition" required></div>
  </div>

  <div class="form-group">
    <div class="form-label"><label for="name">Level</label></div>
    <div class="form-element"><input type="text" name="level" id="level" required></div>
  </div>

  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Add Word"></div>
  </div>
</form>
{% endblock %}
