{% extends "base.html" %}

{% block title %}
<!-- Page title -->
signup
{% endblock %}

{% block pageheading %}
<!-- Page heading -->
Sign Up
{% endblock %}

{% block main %}
<!-- Signup form -->
<form class="myForm" method="post">
  <!-- Input field for email -->
  <div class="form-group">
    <div class="form-label"><label for="email">Email:</label></div>
    <div class="form-element"><input type="email" name="email" id="email" required></div>
  </div>

  <!-- Input field for username -->
  <div class="form-group">
    <div class="form-label"><label for="username">Username:</label></div>
    <div class="form-element"><input type="username" name="username" id="username" required></div>
  </div>

  <!-- Input fields for first and last name -->
  <div class="form-group">
    <div class="form-label"><label for="fname">First Name:</label></div>
    <div class="form-element"><input type="text" name="fname" id="fname" required></div>
  </div>

  <div class="form-group">
    <div class="form-label"><label for="lname">Last Name:</label></div>
    <div class="form-element"><input type="text" name="lname" id="lname" required></div>
  </div>

  <!-- Input fields for password and confirmation -->
  <div class="form-group">
    <div class="form-label"><label for="password">Password:</label></div>
    <div class="form-element"><input type="password" name="password" id="password" required></div>
  </div>

  <div class="form-group">
    <div class="form-label"><label for="password2">Password (again):</label></div>
    <div class="form-element"><input type="password" name="password2" id="password2" required></div>
  </div>

  <!-- Dropdown for selecting user role -->
  <select id="role" name="role">
    {% for role in roles %}
    <!-- Loop through roles to populate the dropdown -->
    <option value="{{role[0]}}">{{role[1]}}</option>
    {% endfor %}
  </select>

  <!-- Reset and submit buttons -->
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="reset"></div>
  </div>

  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit"></div>
  </div>
</form>
{% endblock %}
