{% extends 'base.html' %}

{% block title %}Maōri Dictionary | {{word[1]}}{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<div>
<h1>{{word[1]}}</h1>
<h3>Maori for {{word[2]}}</h3>
<br>
<p>{{word[4]}}</p>
<p>Date of Entry: {{word[5]}}</p>
<p>Created by: {{word[9]}}</p>
<p>Level: {{word[7]}}</p>
<img src="/static/images/{{word[8]}}.jpg">

</div>


<h2>Remove Word</h2>
<form class="myform" method="POST", action="/delete_from_database/?table=Vocab_List">
  <div class="form-group">
    <div class="form-element">
      <select id="id" name="id">
        <option value="{{word[0]}}" >{{word[1]}}</option>
      </select>
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Remove Category"></div>
  </div>


</form>



{% endblock %}
